@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/mixins' as *;
.expense-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .btn-container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 12px 0;
    .btn-add {
      @include addbtn;
    }
    :focus {
      border: 1px solid $cyan-300;
      outline: 0;
    }
  }
}
