$white-000: #c1c2c5;
$white-100: #f8f8ff;
$white-200: #fffafa;
$white-300: #f5fffa;
$dark-000: #c1c2c5;
$dark-100: #a6a7ab;
$dark-200: #909296;
$dark-300: #5c5f66;
$dark-400: #373a40;
$dark-500: #2c2e33;
$dark-600: #25262b;
$dark-700: #1a1b1e;
$dark-800: #141517;
$dark-900: #101113;
$gray-000: #f8f9fa;
$gray-100: #f1f3f5;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$red-000: #fff5f5;
$red-100: #ffe3e3;
$red-200: #ffc9c9;
$red-300: #ffa8a8;
$red-400: #ff8787;
$red-500: #ff6b6b;
$red-600: #fa5252;
$red-700: #f03e3e;
$red-800: #e03131;
$red-900: #c92a2a;

$grape-000: #f8f0fc;
$grape-100: #f3d9fa;
$grape-200: #eebefa;
$grape-300: #e599f7;
$grape-400: #da77f2;
$grape-500: #cc5de8;
$grape-600: #be4bdb;
$grape-700: #ae3ec9;
$grape-800: #9c36b5;
$grape-900: #862e9c;

$blue-000: #e7f5ff;
$blue-100: #d0ebff;
$blue-200: #a5d8ff;
$blue-300: #74c0fc;
$blue-400: #4dabf7;
$blue-500: #339af0;
$blue-600: #228be6;
$blue-700: #1c7ed6;
$blue-800: #1971c2;
$blue-900: #1864ab;
$cyan-000: #e3fafc;
$cyan-100: #c5f6fa;
$cyan-200: #99e9f2;
$cyan-300: #66d9e8;
$cyan-400: #3bc9db;
$cyan-500: #22b8cf;
$cyan-600: #15aabf;
$cyan-700: #1098ad;
$cyan-800: #0c8599;
$cyan-900: #0b7285;
$orange-000: #fff4e6;
$orange-100: #ffe8cc;
$orange-200: #ffd8a8;
$orange-300: #ffc078;
$orange-400: #ffa94d;
$orange-500: #ff922b;
$orange-600: #fd7e14;
$orange-700: #f76707;
$orange-800: #e8590c;
$orange-900: #d9480f;

$primary: $cyan-500;
$secondary: $orange-700;
$success-background: $blue-400;
$success-primary: $blue-700;
$danger-background: $red-400;
$danger-primary: $red-700;

$background: $dark-100;
$background-dark: $dark-600;
