@use '../../styles/abstracts/colors' as *;
.switch-container {
  z-index: 10;
  top: 0;
  right: 0;
  position: absolute;
  margin-right: 10px;
  .react-switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  .react-switch-label {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 60px;
    height: 20px;
    background: $dark-900;
    border-radius: 100px;
    position: relative;
    transition: background-color 0.2s;
  }

  .react-switch-label .react-switch-button {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 15px;
    transition: 0.3s;
    background: $blue-600;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  }
  .switch-color-on {
    background: $grape-900;
  }

  .switch-color-off {
    background: $gray-300;
  }
  .mode-text {
    font-size: 10px;
    margin: auto;
  }
  .react-switch-checkbox:checked + .react-switch-label .react-switch-button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }

  .react-switch-label:active .react-switch-button {
    width: 40px;
  }
}
