@use '../../styles/abstracts/colors' as *;
.tooltip-wrapper {
  display: inline-block;
  position: relative;
  .tooltip-tip {
    position: absolute;
    border-radius: 4px;
    transform: translateX(-50%);
    padding: 6px;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1;
    z-index: 100;
    white-space: nowrap;
  }
  ::before {
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 6px;
  }
  .right {
    left: 30px;
    top: 50%;
    transform: translateX(-25%) translateY(-135%);
  }
  .right::before {
    top: 50%;
    transform: translateX(-25%) translateY(-135%);
    border-right-color: $dark-300;
  }
}
